{
	"root": true,
	"extends": [
		"neon/common",
		"neon/browser",
		"neon/module",
		"neon/no-deprecated",
		"neon/node",
		"neon/typescript",
		"neon/prettier",
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		"project": "./tsconfig.base.json"
	},
	"rules": {
		"import/order": "off",
		"@typescript-eslint/consistent-type-definitions": "off"
	}
}
