name: Continuous Delivery

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'concourse/**'
      - '.github/workflows/continuous-delivery.yml'
      - 'README.md'
      - 'Dockerfile'

jobs:
  Publish:
    name: Publish image to container registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v6
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          push: true
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: |
            linux/amd64
            linux/arm64
          tags: ghcr.io/favware/concourse-discord-webhook-resource:alpha

  PublishTaskRunner:
    name: Publish Task Runner image to container registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v6
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          push: true
          context: .
          file: Dockerfile.taskrunner
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: |
            linux/amd64
            linux/arm64
          tags: ghcr.io/favware/concourse-taskrunner:alpha
